*{
  box-sizing: border-box;
  color: #535387;
}
.main {
  text-align: center;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  border: 1px solid steelblue;
}
.d-flex {
  display: flex;
  
}
.fd-column{
  flex-direction: column;
}
.grow-1{
  flex-grow: 1;
}
.p-1{
padding: 1rem;
}

.container {
  height: 30rem;
  padding: 1rem;
}
 
.button{
  padding: 1rem;
  box-sizing: border-box;
  border-style: none;
  width: 50%;
}

.button:hover{
 cursor: pointer;
 background-color: #e5e5ee;
}

.selected {
  background-color: #d0d0e7;
}

.note {
  display: flex;
  border: 1px solid steelblue;
  
}
input[type="checkbox"] {
  margin: 1rem;
  border: 1px solid steelblue;
}

.note div {
  flex-grow: 1;
  text-align: start;
  padding: 0 1rem;
}

